@{
    ViewData["Title"] = "Home Page";
}
<div class="m-4 text-center">
    @if (ViewBag.Message != null)
    {
        ViewBag.Message = ViewBag.Message.Replace("\"", "");
    }
    @ViewBag.Message

    <div class="nutrition-calculator__heading">
        <h1 class="title">Welcome to Nutrition Calculator</h1>
        <div class="">
            <div class="details" style="font-size:larger">The percent daily value (% DV) found in a nutrition facts table can help you make informed food choices. </div>

            <span> Learn how to use % Daily Value at&nbsp;<a href="http://www.healthycanadians.gc.ca/eating-nutrition/label-etiquetage/learn-apprenez-eng.php" target="_blank" class="external">Health Canada</a></span>
            <br /><br /><br />
            <div class="details" style="font-size:larger">McDonalds Nutrition Sample is ready for you. <br />Please click the 'Category' on menu tab </div>
        </div>
    </div>
</div>