@model CategoryViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="flex-container">
    <div class="w-100">
        <h4 class="text-center mb-2">Categories</h4>
        <form asp-controller="Category" asp-action="SelectCategory" method="post">
            <select style="position:relative;padding:5px;" asp-for="CategoryId" asp-items="@Model.GetCategories()"
                    class="form-group form-control" onchange="this.form.submit();">
                <option selected style="display:none;">Select Category</option>
            </select>
        </form>
       
        <catalogue category="@Model.CategoryId"></catalogue>
    </div>
</div>
<div class="modal" id="details_popup">
    <div class="modal-dialog">
        <div class="modal-content col-12">
            <div class="modal-body">
                <button type="button" class="close" style="font-size:xx-large;" data-dismiss="modal">X</button>
                <div class="text-center">
                    <img alt="" id="detailsGraphic" style="width:100px;height:100px"/><br />
                    <h4 id="description"></h4>
                </div>
                <form asp-controller="Category" asp-action="SelectItem" method="post" role="form">
                    <div class="text-center col-sm-offset-2">
                        <div class="modalrow mt-4">
                            <div class="columnL">Calories</div>
                            <div class="columnR" id="Calories"></div>
                        </div>
                        <div class="modalrow">
                            <div class="columnL">Carbohydrate</div>
                            <div class="columnR" id="Carbohydrate"></div>
                        </div>
                        <div class="modalrow">
                            <div class="columnL">Cholesterol</div>
                            <div class="columnR" id="Cholesterol"></div>
                        </div>
                        <div class="modalrow">
                            <div class="columnL">Fat (grams)</div>
                            <div class="columnR" id="Fat"></div>
                        </div>
                        <div class="modalrow">
                            <div class="columnL">Fibre (grams)</div>
                            <div class="columnR" id="Fibre"></div>
                        </div>
                        <div class="modalrow">
                            <div class="columnL">Protein</div>
                            <div class="columnR" id="Protein"></div>
                        </div>
                        <div class="modalrow">
                            <div class="columnL">Sodium (mgs.)</div>
                            <div class="columnR" id="Sodium"></div>
                        </div>
                        <div class="modalrow mb-4">
                            <div class="columnL">Qty</div>
                            <div class="columnR" id="cal">
                                <input asp-for="Qty" type="number" maxlength="3" size="3"
                                       style="width: 50px;" id="qty" />
                                <input asp-for="Id" type="hidden" id="selectedId" />
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-dark">Add To Tray</button>
                        <button type="submit" id="btnRemove" class="btn btn-outline-danger">Remove Item</button>
                        <a href="/Tray" class="btn btn-outline-success">View Tray</a>
                    </div>
                </form>
            </div>
            <div class="m-2">
                <div class="text-center font-weight-bold" id="results"> @ViewBag.AddMessage</div>
            </div>
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->