/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Nav bar under line
    This happened because of your positioning.
    Try to set relative position to your li and set after to a tag inside li which will be absolute positioned like below
*/
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
    position: relative;
}

    .navbar .navbar-nav .nav-link:hover {
        color: #000000;
    }

    .navbar .navbar-nav .nav-link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #000000;
        color: transparent;
        width: 0%;
        content: '.';
        height: 3px;
    }

    .navbar .navbar-nav .nav-link:hover::after {
        width: 100%;
    }


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.modalrow {
    display: flex;
}

.columnL {
    flex: 50%;
    text-align: right;
    padding-right: 2%;
}

.columnR {
    flex: 50%;
    text-align: left;
    padding-left: 2%;
}